*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
li{
    list-style-type: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.navbar__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__item{
    margin-left: 30px;
}
.navbar__item :hover{
    color: #ff7200;
    transition: all ease 0.4s;
    font-weight: 400;
}
.navbar__item a{
    color: #100f0e;
}
.logo{
    font-size: 40px;
}
.logo__color{
    color: #ff7200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor:pointer;
}
.btn{
    padding: 12px 15px;
    color: white !important;
    background-color: #ff7200;
    border-radius: 7px;
}
select{
    border: none;
    outline: none;
    font-size: 17px;
}

.hero{
    padding-left: 150px;
    padding-top: 120px;
}
.hero__desc{
    font-size: 25px;
}
.hero__title{
    margin-top: 40px;
    font-size: 45px;
    margin-bottom: 70px;
    width: 450px;
}
.main{
    height: 100vh;
    background-image: url('../img/product.jpg');
    background-repeat: no-repeat;
    background-position: right 50px top 100px;
    background-size: 50%;
}
.order{
    padding-top: 10px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
}
.box{
    width: 400px;
    margin-left: 150px;
    height: auto;
    box-shadow: 0 0 6px #ff7200;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ff7200;
    padding: 15px;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.box__title{
    color: white;
    margin-bottom: 13px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box__desc{
    text-align: center;
    color: rgb(219, 222, 223);
    font-weight: 500;
    font-size: 13px;
    width: 300px;
    margin-bottom: 30px;
}
.box__input{
    width: 350px;
    height: 40px;
    border-radius: 6px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding-left: 13px;
    font-size: 17px;
}
.box__input::placeholder{
    color: #100f0e;
    font-weight: 500;
}
.box__btn{
    width: 350px;
    height: 42px;
    border-radius: 7px;
    border: none;
    background-color: #48ce1f;
    color: white;
    font-size: 17px;
}
.colorRed{
    color: #ff7200;
}
.chegirma{
    margin-left: 200px;
    margin-bottom: 50px;
}
.chegirma h3{
    color: rgb(62, 56, 56);
    box-shadow: 0 0  5px #100f0e;
    font-size: 30px;
    padding: 10px;
    transform: skewY(-10deg);
    margin-bottom:10px;
    border: none;
}
.chegirma h2{
    transform: skewY(-10deg);
    background-color: #48ce1f;
    color: white;
    font-size: 60px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;


    
}